<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>row n° 1</td>
      <td>row n° 2</td>
      <td>row n° 3</td>
    </tr>
    <tr>
      <td>row n° 1</td>
      <td>row n° 2</td>
      <td>row n° 3</td>
    </tr>
    <tr>
      <td>row n° 1</td>
      <td>row n° 2</td>
      <td>row n° 3</td>
    </tr>
    <tr>
      <td>row n° 1</td>
      <td>row n° 2</td>
      <td>row n° 3</td>
    </tr>
    <tr>
      <td>row n° 1</td>
      <td>row n° 2</td>
      <td>row n° 3</td>
    </tr>
    <tr>
      <td>row n° 1</td>
      <td>row n° 2</td>
      <td>row n° 3</td>
    </tr>
    <tr>
      <td>row n° 1</td>
      <td>row n° 2</td>
      <td>row n° 3</td>
    </tr>
    <tr>
      <td>row n° 1</td>
      <td>row n° 2</td>
      <td>row n° 3</td>
    </tr>
    <tr>
      <td>row n° 1</td>
      <td>row n° 2</td>
      <td>row n° 3</td>
    </tr>
    <tr>
      <td>row n° 1</td>
      <td>row n° 2</td>
      <td>row n° 3</td>
    </tr>
  </tbody>
</table>